# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeOutput.log
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeError.log
CTestTestfile.cmake
Testing/
CMakeScripts/

# Build directories and files
bin/
lib/
obj/
*.o
*.a
*.so
*.exe
*.dll
*.pdb

# YAML files
CMake.yml
CPack.yml
*.dSYM/
.yml

# Json files
settings.json
tasks.json
query.json
launch.json

# sudoku executable
sudoku

#Mac files
*.DS_Store